## Conectarse a la base de datos

### Importación de librerías

In [1]:
import mysql.connector
import pandas as pd
import csv

### Leer credenciales

In [2]:
# Leer las credenciales desde el archivo CSV
try:
    with open('../credenciales.csv', mode='r', newline='') as archivo_csv:
        lector_csv = csv.DictReader(archivo_csv)
        credenciales = next(lector_csv)
except FileNotFoundError:
    print("Error: El archivo 'credenciales.csv' no se encontró.")
    exit(1)
except Exception as e:
    print(f"Error al leer el archivo CSV: {e}")
    exit(1)

### Establecer la conexión con la base de datos

In [3]:
# Establecer la conexión con la base de datos
try:
    cnx = mysql.connector.connect(
        user=credenciales['usuario'],
        password=credenciales['contraseña'],
        host=credenciales['host'],
        port=int(credenciales['puerto']),  # Convertir a entero
        database=credenciales['base_de_datos']
    )
    print("Conexión exitosa a la base de datos.")
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Algo está mal con tu nombre de usuario o contraseña.")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("La base de datos no existe.")
    else:
        print(err)

Conexión exitosa a la base de datos.

### Ejecutar querys y sacar tablas

In [4]:
# Ejecutar la consulta SQL y cargarla en un DataFrame de pandas para los empleados
query_users = "SELECT * FROM Users WHERE CompanyId = 708;"
df_users = pd.read_sql(query_users, cnx)  # Cargar los datos de los usuarios en un DataFrame

# Ejecutar la consulta SQL y cargar las primeras 100 filas de ScheduleDetails
query_schedule_details = "SELECT * FROM ScheduleDetails LIMIT 100;"
df_schedule_details = pd.read_sql(query_schedule_details, cnx)  # Cargar los datos de ScheduleDetails

# Ejecutar la consulta SQL y cargar las primeras 100 filas de WorkShiftDetails
query_work_shift_details = "SELECT * FROM WorkShiftDetails LIMIT 100;"
df_work_shift_details = pd.read_sql(query_work_shift_details, cnx)  # Cargar los datos de WorkShiftDetails

C:\Users\javie\AppData\Local\Temp\ipykernel_6300\1292122957.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_users = pd.read_sql(query_users, cnx)  # Cargar los datos de los usuarios en un DataFrame
C:\Users\javie\AppData\Local\Temp\ipykernel_6300\1292122957.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_schedule_details = pd.read_sql(query_schedule_details, cnx)  # Cargar los datos de ScheduleDetails
C:\Users\javie\AppData\Local\Temp\ipykernel_6300\1292122957.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_work_shift_details = pd.read_sql(query_work_shift_details, cnx)  # Cargar los datos de WorkShiftDetails

In [5]:

# Consulta SQL para obtener los usuarios
query_users = "SELECT * FROM Users WHERE CompanyId = 708;"
df_users = pd.read_sql(query_users, cnx)

# Consulta SQL para obtener los departamentos
query_departments = "SELECT * FROM Departments;"
df_departments = pd.read_sql(query_departments, cnx)

# Consulta SQL para obtener los departamentos
query_department_users = "SELECT * FROM DepartmentUsers;"
df_department_users = pd.read_sql(query_department_users, cnx)

C:\Users\javie\AppData\Local\Temp\ipykernel_6300\1078374162.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_users = pd.read_sql(query_users, cnx)
C:\Users\javie\AppData\Local\Temp\ipykernel_6300\1078374162.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_departments = pd.read_sql(query_departments, cnx)
C:\Users\javie\AppData\Local\Temp\ipykernel_6300\1078374162.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_department_users = pd.read_sql(query_department_users, cnx)

### Cerrar la conexión

In [6]:
# Cerrar la conexión
if 'cnx' in locals() and cnx.is_connected():
    cnx.close()
    print("Conexión cerrada.")

Conexión cerrada.

In [7]:
df_users.columns

Index(['Id', 'ExternalUserId', 'HashedUserId', 'Name', 'Nif', 'Surname',
       'Status', 'RoleId', 'CompanyId', 'Login', 'Password', 'InsertDate',
       'IsGeolocalized', 'ScheduleTypeId', 'MaxDaysRegistration',
       'PhotographyPath', 'GeneratedPassword', 'ResponsibleColor',
       'PathImgLarge', 'PathImgMedium', 'PathImgThumbnail',
       'HasVaccinationCertificate', 'DaysManualTrackerTime', 'AccessTypeId',
       'IndexPassword', 'Password2', 'Password3', 'Password4', 'Password5',
       'PasswordChangedDate', 'NumRetriesLogin', 'HasBlocked',
       'LastNewsReadingDate', 'LanguageCode', 'EnabledNotification', 'NfcCode',
       'Timezone', 'AutomaticClosingTrackerTime',
       'EnabledVacationNotification'],
      dtype='object')

In [8]:
df_users

,Id,ExternalUserId,HashedUserId,Name,Nif,Surname,Status,RoleId,CompanyId,Login,...,PasswordChangedDate,NumRetriesLogin,HasBlocked,LastNewsReadingDate,LanguageCode,EnabledNotification,NfcCode,Timezone,AutomaticClosingTrackerTime,EnabledVacationNotification
0,17584,1,6B86B273FF34FCE19D6B804EFF5A3F5747ADA4EAA22F1D...,Ignacio,02522448S,Gomez Pérez,1,2,708,ignacio.gomez@kerox.es,...,2024-12-17,0,0,None,es,None,None,None,0,0
1,17588,2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,Patricia,None,Jimenez,1,3,708,patricia.jimenez@kerox.es,...,NaT,0,0,None,es,None,None,None,0,1
2,20435,3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,Francisco,None,Giral,1,3,708,FranGi,...,NaT,0,0,None,es,None,None,None,0,0
3,20436,4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,Cocinero,None,1,1,3,708,Cocinero1,...,NaT,0,0,None,es,None,None,None,0,0
4,20437,5,ef2d127de37b942baad06145e54b0c619a1f22327b2ebb...,Cocinero,None,2,1,3,708,Cocinero2,...,NaT,0,0,None,es,None,None,None,0,0
5,20438,6,e7f6c011776e8db7cd330b54174fd76f7d0216b612387a...,Barrero,None,1,1,3,708,Barrero1,...,NaT,0,0,None,es,None,None,None,0,0
6,20439,7,7902699be42c8a8e46fbbb4501726517e86b22c56a189f...,Barrero,None,2,1,3,708,Barrero2,...,NaT,0,0,None,es,None,None,None,0,0
7,20440,8,2c624232cdd221771294dfbb310aca000a0df6ac8b66b6...,Barrero,None,3,1,3,708,Barrero3,...,NaT,0,0,None,es,None,None,None,0,0
8,20441,9,19581e27de7ced00ff1ce50b2047e7a567c76b1cbaebab...,Salero,None,1,1,3,708,Salero1,...,NaT,0,0,None,es,None,None,None,0,0
9,20442,10,4a44dc15364204a80fe80e9039455cc1608281820fe2b2...,Salero,None,2,1,3,708,Salero2,...,NaT,0,0,None,es,None,None,None,0,0
10,20443,11,4fc82b26aecb47d2868c4efbe3581732a3e7cbcc6c2efb...,Salero,None,3,1,3,708,Salero3,...,NaT,0,0,None,es,None,None,None,0,0
11,20444,12,6b51d431df5d7f141cbececcf79edf3dd861c3b4069f0b...,Salero,None,4,1,3,708,Salero4,...,NaT,0,0,None,es,None,None,None,0,0

In [9]:
df_schedule_details.head(5)

    Id  ScheduleId DayOfWeek        InitTime         EndTime  DayOrder
0  117          17         L 0 days 08:30:00 0 days 10:30:00         1
1  118          17         M 0 days 08:30:00 0 days 10:30:00         2
2  119          17         X 0 days 08:30:00 0 days 10:30:00         3
3  120          17         J 0 days 08:30:00 0 days 10:30:00         4
4  121          17         V 0 days 08:30:00 0 days 10:30:00         5

In [10]:
df_work_shift_details.head(5)

   Id        InitTime         EndTime  WorkShiftId
0   1 0 days 08:00:00 0 days 15:00:00            1
1  13 0 days 06:00:00 0 days 14:00:00            9
2  14 0 days 15:30:00 0 days 23:30:00           10
3  15 0 days 08:30:00 0 days 12:30:00           11
4  16 0 days 16:30:00 0 days 20:30:00           11

In [11]:
df_users

,Id,ExternalUserId,HashedUserId,Name,Nif,Surname,Status,RoleId,CompanyId,Login,...,PasswordChangedDate,NumRetriesLogin,HasBlocked,LastNewsReadingDate,LanguageCode,EnabledNotification,NfcCode,Timezone,AutomaticClosingTrackerTime,EnabledVacationNotification
0,17584,1,6B86B273FF34FCE19D6B804EFF5A3F5747ADA4EAA22F1D...,Ignacio,02522448S,Gomez Pérez,1,2,708,ignacio.gomez@kerox.es,...,2024-12-17,0,0,None,es,None,None,None,0,0
1,17588,2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,Patricia,None,Jimenez,1,3,708,patricia.jimenez@kerox.es,...,NaT,0,0,None,es,None,None,None,0,1
2,20435,3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,Francisco,None,Giral,1,3,708,FranGi,...,NaT,0,0,None,es,None,None,None,0,0
3,20436,4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,Cocinero,None,1,1,3,708,Cocinero1,...,NaT,0,0,None,es,None,None,None,0,0
4,20437,5,ef2d127de37b942baad06145e54b0c619a1f22327b2ebb...,Cocinero,None,2,1,3,708,Cocinero2,...,NaT,0,0,None,es,None,None,None,0,0
5,20438,6,e7f6c011776e8db7cd330b54174fd76f7d0216b612387a...,Barrero,None,1,1,3,708,Barrero1,...,NaT,0,0,None,es,None,None,None,0,0
6,20439,7,7902699be42c8a8e46fbbb4501726517e86b22c56a189f...,Barrero,None,2,1,3,708,Barrero2,...,NaT,0,0,None,es,None,None,None,0,0
7,20440,8,2c624232cdd221771294dfbb310aca000a0df6ac8b66b6...,Barrero,None,3,1,3,708,Barrero3,...,NaT,0,0,None,es,None,None,None,0,0
8,20441,9,19581e27de7ced00ff1ce50b2047e7a567c76b1cbaebab...,Salero,None,1,1,3,708,Salero1,...,NaT,0,0,None,es,None,None,None,0,0
9,20442,10,4a44dc15364204a80fe80e9039455cc1608281820fe2b2...,Salero,None,2,1,3,708,Salero2,...,NaT,0,0,None,es,None,None,None,0,0
10,20443,11,4fc82b26aecb47d2868c4efbe3581732a3e7cbcc6c2efb...,Salero,None,3,1,3,708,Salero3,...,NaT,0,0,None,es,None,None,None,0,0
11,20444,12,6b51d431df5d7f141cbececcf79edf3dd861c3b4069f0b...,Salero,None,4,1,3,708,Salero4,...,NaT,0,0,None,es,None,None,None,0,0

In [12]:
# Combinar los DataFrames usando 'Id' de Users y 'UserId' de Departments
df_combined = pd.merge(df_users, df_department_users, how='left', left_on='Id', right_on='UserId')

In [13]:
df_combined.columns

Index(['Id_x', 'ExternalUserId', 'HashedUserId', 'Name', 'Nif', 'Surname',
       'Status', 'RoleId', 'CompanyId', 'Login', 'Password', 'InsertDate',
       'IsGeolocalized', 'ScheduleTypeId', 'MaxDaysRegistration',
       'PhotographyPath', 'GeneratedPassword', 'ResponsibleColor',
       'PathImgLarge', 'PathImgMedium', 'PathImgThumbnail',
       'HasVaccinationCertificate', 'DaysManualTrackerTime', 'AccessTypeId',
       'IndexPassword', 'Password2', 'Password3', 'Password4', 'Password5',
       'PasswordChangedDate', 'NumRetriesLogin', 'HasBlocked',
       'LastNewsReadingDate', 'LanguageCode', 'EnabledNotification', 'NfcCode',
       'Timezone', 'AutomaticClosingTrackerTime',
       'EnabledVacationNotification', 'Id_y', 'DepartmentId', 'UserId',
       'FromDate', 'EndDate'],
      dtype='object')

In [16]:
df_combined2 = pd.merge(df_combined, df_departments, how='left', left_on='DepartmentId', right_on='Id', suffixes=('_user', '_department'))

In [17]:
df_combined2.columns

Index(['Id_x', 'ExternalUserId', 'HashedUserId', 'Name', 'Nif', 'Surname',
       'Status', 'RoleId', 'CompanyId_user', 'Login', 'Password', 'InsertDate',
       'IsGeolocalized', 'ScheduleTypeId', 'MaxDaysRegistration',
       'PhotographyPath', 'GeneratedPassword', 'ResponsibleColor',
       'PathImgLarge', 'PathImgMedium', 'PathImgThumbnail',
       'HasVaccinationCertificate', 'DaysManualTrackerTime', 'AccessTypeId',
       'IndexPassword', 'Password2', 'Password3', 'Password4', 'Password5',
       'PasswordChangedDate', 'NumRetriesLogin', 'HasBlocked',
       'LastNewsReadingDate', 'LanguageCode', 'EnabledNotification', 'NfcCode',
       'Timezone_user', 'AutomaticClosingTrackerTime',
       'EnabledVacationNotification', 'Id_y', 'DepartmentId', 'UserId_user',
       'FromDate', 'EndDate', 'Id', 'Description', 'CompanyId_department',
       'UserId_department', 'DelegationId', 'Color', 'DefinitionUserId',
       'ValidateUserId', 'WorkSpaceId', 'Timezone_department',
       'ImportManagerId'],
      dtype='object')

In [25]:
df_combined2[['Name','Surname','Description']]

         Name      Surname             Description
0     Ignacio  Gomez Pérez  Departamento Dirección
1    Patricia      Jimenez  Departamento Dirección
2   Francisco        Giral                     NaN
3   Cocinero             1                  Cocina
4    Cocinero            2                  Cocina
5     Barrero            1                   Barra
6     Barrero            2                   Barra
7     Barrero            3                   Barra
8      Salero            1                    Sala
9     Salero             2                    Sala
10     Salero            3                    Sala
11     Salero            4                    Sala

Supongamos que tenemos 7 días a la semana y para el restaurante hay jornada de mediodía y jornada de noche. De lunes a viernes en la jornada de mediodía se necesita 1 cocinero 1 barrero y 1 salero, y en la jornada de noche 1 cocinero 2 barreros y 2 saleros. En la jornada de mediodía los fines de semana se necesitan 1 cocinero 2 barreros y 2 saleros y en la jornada de noche de los fines de semana se necesitan 2 cocineros 2 barreros y 3 saleros. ¿Como se distribuyen las horas de trabajo?

In [1]:
# # Import all classes of PuLP module
from pulp import *

listrabajadores = [0,'Cocinero1','Cocinero2','Barrero1','Barrero2','Barrero3','Salero1','Salero2','Salero3','Salero4']
workers=[1,2,3,4,5,6,7,8,9]
dias_turnos = ['Lunes_M', 'Lunes_N', 'Martes_M', 'Martes_N', 'Miércoles_M', 'Miércoles_N','Jueves_M', 'Jueves_N', 'Viernes_M', 'Viernes_N', 'Sábado_M', 'Sábado_N','Domingo_M', 'Domingo_N']

secciones = ['Cocina', 'Barra', 'Sala']

jobs_labels = [dt + "_" + sec for sec in secciones for dt in dias_turnos]

jobs=[i+1 for i in range(len(jobs_labels))]

# Cost Matrix
costs=[[1 for i in jobs] for j in workers]

prob = LpProblem("Assignment Problem", LpMinimize)

c:\Users\javie\anaconda3\envs\OptimizacionIA\Lib\site-packages\pulp\pulp.py:1298: UserWarning: Spaces are not permitted in the name. Converted to '_'
  warnings.warn("Spaces are not permitted in the name. Converted to '_'")

In [2]:
# The cost data is made into a dictionary
costs= makeDict([workers, jobs], costs, 0)

# Creates a list of tuples containing all the possible assignments
assign = [(w, j) for w in workers for j in jobs]

# A dictionary called 'Vars' is created to contain the referenced variables
vars = LpVariable.dicts("Assign", (workers, jobs), 0, None, LpBinary)

In [3]:
# The objective function is added to 'prob' first
prob += (
    lpSum([vars[w][j] * costs[w][j] for (w, j) in assign]),
    "Sum_of_Assignment_Costs",
)

In [4]:
# # Requerimientos mínimos por turno
diarioM = [1,3,5,7,9]
diarioN = [2,4,6,8,10]
findesM = [11,13]
findesN = [12,14]
#Entre diario
#Mediodía
#Mínimo 1 cocinero
for dia in diarioM:
    prob+= lpSum([vars[1][dia],vars[2][dia]]) >= 1
#Mínimo 1 barrero
for dia in diarioM:
    prob+= lpSum([vars[3][dia],vars[4][dia],vars[5][dia]]) >= 1
#Mínimo 1 salero
for dia in diarioM:
    prob+= lpSum([vars[6][dia],vars[7][dia],vars[8][dia],vars[9][dia]]) >= 1
#Noche
#Mínimo 1 cocinero
for dia in diarioN:
    prob+= lpSum([vars[1][dia],vars[2][dia]]) >= 1
#Mínimo 2 barreros
for dia in diarioN:
    prob+= lpSum([vars[3][dia],vars[4][dia],vars[5][dia]]) >= 2
#Mínimo 2 saleros
for dia in diarioN:
    prob+= lpSum([vars[6][dia],vars[7][dia],vars[8][dia],vars[9][dia]]) >= 2

#Fines de semana
#Mediodía
#Mínimo 1 cocinero
for dia in findesM:
    prob+= lpSum([vars[1][dia],vars[2][dia]]) >= 1
#Mínimo 2 barreros
for dia in findesM:
    prob+= lpSum([vars[3][dia],vars[4][dia],vars[5][dia]]) >= 2
#Mínimo 2 saleros
for dia in findesM:
    prob+= lpSum([vars[6][dia],vars[7][dia],vars[8][dia],vars[9][dia]]) >= 2
#Noche
#Mínimo 2 cocineros
for dia in findesN:
    prob+= lpSum([vars[1][dia],vars[2][dia]]) >= 2
#Mínimo 2 barreros
for dia in findesN:
    prob+= lpSum([vars[3][dia],vars[4][dia],vars[5][dia]]) >= 2
#Mínimo 3 saleros
for dia in findesN:
    prob+= lpSum([vars[6][dia],vars[7][dia],vars[8][dia],vars[9][dia]]) >= 3

In [5]:
# The problem is solved using PuLP's choice of Solver
prob.solve()

varValues = []
# Print the variables optimized value
for v in prob.variables():
    varValues.append(v.varValue)
    
# The optimised objective function value is printed to the screen
print("Value of Objective Function = ", value(prob.objective))

Value of Objective Function =  64.0

In [6]:
separa=[str(prob.variables()[i]).split('_') for i in range(len(prob.variables()))]
for i in range(len(prob.variables())):
    separa[i]=['Assign',int(separa[i][1]),int(separa[i][2]),int(varValues[i])]
jobsepara=[]
for i in range(len(jobs_labels)):
    jobsepara.append(jobs_labels[i].split('_'))

In [7]:
import pandas as pd

# Creamos el DataFrame calendario con las filas 'M' y 'N' y los días de la semana
calendario = pd.DataFrame(index=['M', 'N'], columns=['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo'])
calendario = calendario.applymap(lambda _: [])

C:\Users\javie\AppData\Local\Temp\ipykernel_11412\733550850.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  calendario = calendario.applymap(lambda _: [])

In [8]:
calendario

  Lunes Martes Miércoles Jueves Viernes Sábado Domingo
M    []     []        []     []      []     []      []
N    []     []        []     []      []     []      []

In [9]:
for elem in separa:
    if elem[3]==1:
        trabajo=elem[2]-1
        calendario.at[jobsepara[trabajo][1], jobsepara[trabajo][0]].append(listrabajadores[elem[1]])

In [10]:
calendario

,Lunes,Martes,Miércoles,Jueves,Viernes,Sábado,Domingo
M,"[Cocinero2, Barrero3, Salero4]","[Cocinero1, Barrero1, Salero4]","[Cocinero1, Barrero2, Salero2]","[Cocinero1, Barrero2, Salero4]","[Cocinero1, Barrero3, Salero4]","[Cocinero2, Barrero1, Barrero2, Salero2, Salero3]","[Cocinero1, Barrero1, Barrero2, Salero2, Salero3]"
N,"[Cocinero2, Barrero1, Barrero3, Salero2, Salero3]","[Cocinero2, Barrero2, Barrero3, Salero1, Salero3]","[Cocinero2, Barrero1, Barrero2, Salero1, Salero3]","[Cocinero1, Barrero1, Barrero2, Salero3, Salero4]","[Cocinero1, Barrero1, Barrero2, Salero1, Salero3]","[Cocinero1, Cocinero2, Barrero2, Barrero3, Sal...","[Cocinero1, Cocinero2, Barrero2, Barrero3, Sal..."